# files
**/** */.log
**.pyc
**.pth
**copytest**
__init__.py
record_train.txt
run_ACDC.sh
run_LA.sh
run_Pancreas.sh

# folder
**/results/
**/logs/
**/__pychcache__/
**/.git/
**/.ipynb_checkpoints/
**/images/
**/.vscode/


